*{
    margin:0;
    box-sizing: border-box;
}

:root {

    --primary-color: hsl(170, 100%, 26%); /* Variável com uma cor definida */
    --tittle-color: hsl(210, 11%, 15%);
    --paragraph-color: hsl(210, 9%, 31%);

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;

    text-align: center;
}

header {
    width: 37.5rem;
    margin-right: auto; /* Faz com que a pagina fique alinhada automaticamente ao centro, a partir do lado direito */
    margin-left: auto; /* Faz com que a pagina fique alinhada automaticamente ao centro, a partir do lado esquerdo */
    margin-top: 4.1rem;
}

h1{
    font-size: 3.4rem;
    color: var(--tittle-color);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
    
    margin-bottom: 3.2rem;
}

button{
    background-color: var(--primary-color);
    
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;

    height: 5.2rem;
    width: 26.3rem;

    font-size: 1.4rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
}
